body{
    background-image: url(Moon+Earth.jpg)
    
}
text {color: #fcfcfc;
    font-size: 20px;
    font-weight: bold;
}
header{
    text-align: center;
    }
    nav{
    height:10000px;
    width:200px;
    float:left;
    padding: 5px;
    line-height:30px;
    }
    
    footer{
        text-align: center;
    }
    header{
        text-align: center;
    }
    style
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(243, 236, 238);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(234, 236, 245);
  background-color: transparent;
  text-decoration: underline;
}