#blinkText {
    color: #cdcfe7;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}

Text {
color: rgb(240, 244, 248);
font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}

body{
    background-image: url("stars2.jpg");
}

#dataTable{
    background-image: linear-gradient(to bottom, white 60%, skyblue);
}

.button{

    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: turquoise;
}
.buttonlg{

    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: turquoise;
}
nav{
    height:1200px;
    width:250px;
    float:left;
    padding: 5px;
    line-height:30px;
    }
    style
a:link {
  color: rgb(142, 195, 226);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(206, 241, 239);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(246, 246, 248);
  background-color: transparent;
  text-decoration: underline;
}

header{
    text-align: center;
}

footer{
text-align: center;
margin-right: 400px;
}